
* { /*para todos*/
    margin: 0;
}

header {
    /*Bloco de exibição*/
    display: block;
    /*Posicionamento fixo*/
    position: fixed;
    top: 0;
    left: 0;
    /*Ocupamos 100% da largura da página, defenimos a cor de fundo e o preenchimento*/
    width: 100%;
    blackground-color: #4682B4;
    padding: 10px;
}
/*depois do link ter sido visitado, a pseudo
classe é um link e usará uma regra chamada text-decoration
e defenirá como nenhuma. Assim os links não terão sublinhado embaixo deles*/
nav a:visited,
nav a:link {
    color: #274360;
    text-decoration: none;
}
/*Modo como a lista é renderizada na página.
Informando o navegador para exibir esta lista em linha e zerar o preenchimento
ao redor da lista*/
nav > ul {
    display: inline;
    padding: 0;
}
/*Regras para a lista, que têm como alvo os itens individuais da lista nessa
lista ordenada.
Pretende-se que sejam exibidos como no bloco de linhas, defina o estilo da lista como
nenhum e defina as margens esquerda e direita*/
nav > ul > li {
    /*Indica ao navegador como exibir o elemento na linha
    Significa que empilha os elementos um ao lado do outro. Utilizando
    o modo bloqueio de linha*/
    display: inline-block;
    list-style: none;
    /* O primeiro valor da margem está para o topo, de seguida o valor para inferior
     e depois para esquerda*/
    margin: 0 5px 0 5px;
}

body {
    height: 100%; /* altura de 100%*/
    background: #FAF2E9;  /*cor de fundo*/
    font-family: Arial, Helvetica, sans-serif; /*tipo de letra*/
}
/*todos os paragrafos com a mesma margem personalizada
o primeiro valor é a margem para o topo do elemento
o segundo valor é a margem à direita do elemento
o terceiro valor para a parte inferior e o último valor para a esquerda.
Isto adiciona margem superior, inferior a cada um dos parágrafos do site*/
p {
    margin: 0.5em 0 0.5em 0;
    text-align: justify;
   /* text-indent: 30px; colocar o inicio do paragrafo mais dentro*/
}

/*Seletor de quatro tags principais*/
main {
    display: block;
    /*Regras para a parte superior e parte inferior.
    Afastar o conteudo do limite do elemento principal para dar espaço para que esses
    elementos de navegaçao sejam exibos corretamente*/
    padding-top: 6em;
    padding-bottom: 2em;
    /*Altura minima, para garantir que a navegaçao inferior apareça na parte inferior da pagina*/
    min-height: 75%;
}

/*Representa o primeiro nível de importancia de cabeçalho.*/
h1 {
    font-size: 1.7em;
    font-family: "book a";
    margin-top: 2.5em;
    margin-left: 1em;
}
/*Representa o segundo nível de importancia de cabeçalho.*/
h2{
    font-size: 1em;
    font-family: "fantasy";
}
/*Representa o terceiro nível de importancia de cabeçalho.*/
h3{
    font-size: 1.7em;
    font-family: "book a";
    font-weight: bold;
    margin-top: 5.5em;
    margin-left: 4em;
}
/*Classe MTC dizendo que o maximo com esse elemento seja 90%*/
.MTC {
    max-width: 40%;
}

.textocss{
    margin-top: 0.5em;
    margin-left: 55em;
    text-align: center;

}

.sub-title{
    font-size: 1.3em;
    /*Um pouco de preenchimento para que o texto nao seja empurrado até à borda*/
    padding: 10px;
}
/*Ao rodapé foi adicionado 15 pixels de preenchimento em todo o desenvolvimento*/
footer {
    padding: 15px;
}


/*Alinhamento do texto*/
aside {
//logotipo text-align: center;
}
/*defenir a largura desse elemento*/
article {
    display: block;
    width: 75%;
    padding: 2em;
    text-align: justify;
    line-height: 1.6em;
}
/*Area de trabalho-apenas para tamanhos de tela 768 pixels mais largos e acima*/
@media only screen and (min-width: 768px) {
    main {
        /*elemento principal exiba o seu flex, a exibição do flex facilita a criação de layouts.
        Na área de trabalho, o elemento principal será exibido como flex*/
        display: flex;
    }
    /*Para que o logotipo se afaste um pouco do lado esquero da tela, adiciono uma margem ao elemento
     fornecendo uma margem restante de 2% do espaço total disponível na janela do navegador*/
    aside {
        margin-left: 2%;
    }


}
/*
_________________________________________________________________________________________________________________________________________________________________________________________
As marcas CSS usadas nesta página foram:

.*: atributo para todos(todos os elementos da página), para definir margem igual a zero

                                                       header display: bloco de exibição no meu caso block
                                                       header position: posicionamento fixo
                                                       header top e header left: Ao rolar a página a navegação superior permanece fixa na posição na parte superior do navegador,
                                                       como queremos nessa posição, adicionar superior e esquerda. É a regra superior que instrui o navegador a corrigir essa
posição na parte superior da janela do navegador, bem como na extremidadade esquerda da janela
header width: Ocupamos 100% da largura da página
                            header blackground-color: defenição da cor de fundo #4682B4;
header padding: 10px; defenição do preenchimento


                      Depois do link ter sido visitado, a pseudo classe é um link e usará uma regra chamada text-decoration
e defenirá como nenhuma. Assim os links não terão sublinhado embaixo deles
nav a:link {
                          color: #274360;
                          text-decoration: none;

Modo como a lista é renderizada na página.
Informando o navegador para exibir esta lista em linha e zerar o preenchimento
ao redor da lista
nav > ul {
    display: inline;
    padding: 0;


    Regras para a lista, que têm como alvo os itens individuais da lista nessa lista ordenada.

    display: inline-block; Pretende-se que sejam exibidos como no bloco de linhas.
    list-style: none; definir o estilo da lista como nenhum
    margin: 0 5px 0 5px; defenição da margens esquerda e direita. O primeiro valor da margem está para o topo,
de seguida o valor para inferior e depois para esquerda.


body height: para permitir o ajuste da pagina 100%
body background: define cor de fundo; #FAF2E9
body font-family: define tipo de letra, foi escolhido Arial, Helvetica, sans-serif;


    Todos os paragrafos com a mesma margem personalizada o primeiro valor é a margem para o topo do elemento,
    o segundo valor é a margem à direita do elemento, o terceiro valor para a parte inferior e o último valor para a esquerda.
    Isto adiciona margem superior, inferior a cada um dos parágrafos do site
    p
    margin: 0.5em 0 0.5em 0;
    text-align: justify;


    Seletor de quatro tags principais
    main

    display: block; Regras para a parte superior e parte inferior. Afastar o conteudo do limite do elemento principal
para dar espaço para que esses elementos de navegaçao sejam exibos corretamente
    padding-top: 6em;
    padding-bottom: 2em;
    min-height: 75%;Altura minima, para garantir que a navegaçao inferior apareça na parte inferior da pagina

    h1: Representa o primeiro nível de importancia de cabeçalho.
    font-size: 1.7em; tamanho
font-family: "book a"; tipo de letra
    margin-top: 2.5em; margem relativamente ao topo
    margin-left: 1em; margem relativamente à esquerda

    h2:  font-size: 1em; tamanho
h2:  font-family: "fantasy"; tipo de letra

    h3: font-weight: bold; negrito

.MTC : Classe MTC dizendo que o maximo com esse elemento seja 90%
    max-width: 40%; tamanho da imagem

.textocss
    margin-top: 0.5em; margem do topo
    margin-left: 55em; margem da esquerda
    text-align: center; alinhamento

.subtitle
    font-size: 1.3em; tamanho
footer: Ao rodapé foi adicionado 15 pixels de preenchimento

    article: text-align: justify; tipo de letra justificado

*/
